<h3> Simple network tools </h3>

<form action="/ping" method ="post" accept-charset="utf-8">
  <input type="text" id="ip" name="ip" value="">
  <input type="submit" value="ping!">
</form>

<form action="/traceroute" method ="post" accept-charset="utf-8">
  <input type="text" id="ip" name="ip" value="">
  <input type="submit" value="traceroute!">
</form>

<form action="/nmap" method ="post" accept-charset="utf-8">
  <input type="text" id="ip" name="ip" value="">
  <input type="submit" value="nmap!">
</form>
